<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

    </body>
    <script>
        const url = 'ws://localhost:8080';
                    const ws = new WebSocket(url);
                    ws.onopen = () => {
                    }
                    ws.onerror = error => {
                        console.log(`WebSocket error: ${error}`)
                    }
        </script>
</html>

