<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="kahoot-container">
        <h1 id="prompt"></h1>
        <textarea id="answer-input" name="answer-input" style="resize: none;"></textarea>
        <button onclick="scoped.answerQuestion(document.getElementById('answer-input').value)">Submit Answer</button>
    </div>
</body>
<script>
    let answers = {}
    var kws = new WebSocket("wss://kahootpod.com:443/kws");

    var currentPrompt = "Welcome to KahootPod: The Game!"
    

    console.log(kws);

    kws.onmessage = (e) => {
        try{
            let msgJSON = JSON.parse(e.data);
            switch(msgJSON.type){
                case "prompt":
                    currentPrompt = msgJSON.content;
                    document.getElementById("prompt").textContext = currentPrompt;
            }
        } catch (e) {
            kws.close();
        } 
    }

    function answerQuestion(ans){
        answers[currentPrompt] = ans;
        scoped.kws.send(JSON.stringify({type: "answer", content: ans}));
    }
</script>
</html>