<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');      
        body {
            margin-left: 13%;
            margin-right: 13%;
            margin-top: 7%;
            text-align: center;
            font-family: 'Roboto', sans-serif;
        }
        .question {

        }
        .prompt {
            border: 1px solid black;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .answers {}
        .answer {
            border: 1px solid black;
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        .answer-text {
        }
        .answer-rating {

        }

    </style>
</head>
<body>
    <div class="question">
        <h1 class="prompt">Explain recursion in 1 word or less</h1>
        <div class="answers">
            <div class="answer">
                <h3 class="author">Hayden Carpenter</h3>
                <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tellus justo, et consectetur dolor faucibus ut. Duis vitae dui sed lectus viverra dapibus vitae nec quam. In ut dui in quam placerat aliquam. Ut in suscipit nunc. Suspendisse tincidunt convallis mauris, eget aliquet odio suscipit quis. Sed vitae ligula vulputate, lacinia lorem pellentesque, accumsan velit. Ut at mi blandit, porta elit ut, mollis nunc. Integer ut euismod lectus. Donec maximus, nibh eget lacinia scelerisque, quam lectus viverra justo, sit amet molestie nulla nibh quis libero.</p>
                <p class="answer-rating">
                    <span class="total-rating">10 Likes</span> / 
                    <span class="times-rated">10 Votes</span> = 
                    <span class="calculated-rating">1.0</span>
                </p>
            </div>
            <div class="answer">
                <h3 class="author">Hayden Carpenter</h3>
                <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tellus justo, et consectetur dolor faucibus ut. Duis vitae dui sed lectus viverra dapibus vitae nec quam. In ut dui in quam placerat aliquam. Ut in suscipit nunc. Suspendisse tincidunt convallis mauris, eget aliquet odio suscipit quis. Sed vitae ligula vulputate, lacinia lorem pellentesque, accumsan velit. Ut at mi blandit, porta elit ut, mollis nunc. Integer ut euismod lectus. Donec maximus, nibh eget lacinia scelerisque, quam lectus viverra justo, sit amet molestie nulla nibh quis libero.</p>
                <p class="answer-rating">
                    <span class="total-rating">10 Likes</span> / 
                    <span class="times-rated">10 Votes</span> = 
                    <span class="calculated-rating">1.0</span>
                </p>
            </div>
        </div>
    </div>
</body>
<script>
    var kws = new WebSocket("wss://kahootpod.com:443/kws");
    var currentPrompt = 0;
    kws.onmessage = (e) => {
        try{
            var msgJSON = JSON.parse(e.data);
            switch(msgJSON.type){
                case "prompts":
                    document.getElementsByClassName("question")[0].innerHTML = "";
                    currentPrompt = msgJSON.currentPrompt;

                    document.getElementsByClassName("question")[0].innerHTML += "<h1 class='prompt'>" +msgJSON.prompts[currentPrompt].prompt+ "</h1>";
                    var prompt = msgJSON.prompts[currentPrompt];
                    prompt.answers.sort((a, b) => {return (b.totalRating / b.timesRated) - (a.totalRating / a.timesRated)});
                    for(let i of prompt.answers){
                        document.getElementsByClassName("question")[0].innerHTML += createPromptHTML(i.user, i.content, i.totalRating, i.timesRated);
                    }
                    
                    break;
            }
        } catch(e){
            kws.close();
        } 
    }

    kws.onopen = (e) => {
        kws.send(JSON.stringify({type:"admiiiin"}));
    }

    function createPromptHTML(user, answer, rating, numRates){
        return `<div class="answer">
                <h3 class="author">`+user+`</h3>
                <p class="answer-text">`+answer+`</p>
                <p class="answer-rating">
                    <span class="total-rating">`+rating+` Likes</span> / 
                    <span class="times-rated">`+numRates+` Votes</span> = 
                    <span class="calculated-rating">`+(rating/numRates)+`</span>
                </p>
            </div>`
    }

    function update(){kws.send(JSON.stringify({type:"adminUp"}));}

    setInterval(update, 1000);
</script>
</html>