<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        body {font-family: 'Roboto', sans-serif;}
        #kahoot-prompt-container {
            display: block;
            margin-left: 13%;
            margin-right: 13%;
            margin-top: 7%;
            text-align: center;
        }
        #kahoot-answers-container {
            margin-left: 13%;
            margin-right: 13%;
            margin-top: 7%;
            text-align: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        .flex-container {
            display: flex;
        }
        #answer-container {
            align-items: center;    
            flex-direction: column;
        }
        #answer-input {
            margin-bottom: 10px;
            width: calc(50px + 30vw);
        }
        .submission {
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            height: calc(50px + 10vh);
            border: 1px solid black;
        }
        .submission img {
            height: 25px;
        }
    </style>

</head>
<body>
    <div id="kahoot-prompt-container">
        <h1 id="prompt"></h1>
        <div class="flex-container" id="answer-container">
            <textarea id="answer-input" name="answer-input" style="resize: none;"></textarea>
            <button onclick="scoped.answerQuestion(document.getElementById('answer-input').value)">Submit Answer</button>
        </div>
        
    </div>
    <div class="flex-container" id="kahoot-answers-container">
        
    </div>
</body>
<script>
    let answers = {}

    var kws = new WebSocket("wss://kahootpod.com:443/kws");

    var currentPrompt;

    getName();
    
    console.log(kws);

    kws.onmessage = (e) => {
        try{
            let msgJSON = JSON.parse(e.data);
            switch(msgJSON.type){
                case "prompt":
                    scoped.currentPrompt = msgJSON.content;
                    document.getElementById("prompt").innerText = scoped.currentPrompt;
                    break;
                case "submissions":
                    for(let i of msgJSON.content.submissions){
                        document.getElementById("kahoot-answers-container").innerHTML += createSubmissionHTML(i.answer);
                    }
                    break;
            }
        } catch (e) {
            scoped.kws.close();
        } 
    }

    function createSubmissionHTML(s){
        return `<div class="submission">
            <p>`+s+`</p>
            <img src="/images/liked.png" onclick="">
        </div>`;
    }

    kws.onopen = (e) => {
        kws.send(JSON.stringify({type: "updateReq", content: ""}));
    }

    function answerQuestion(ans){
       //scoped.answers[scoped.currentPrompt] = ans;
        scoped.kws.send(JSON.stringify({type: "answer", content: ans, prompt: scoped.currentPrompt, user: "user"}));
    }
</script>
</html>