<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        body {font-family: 'Roboto', sans-serif;}
        #kahoot-prompt-container {
            margin-left: 13%;
            margin-right: 13%;
            margin-top: 7%;
            text-align: center;
        }
        .flex-container {
            display: flex;
            align-items: center;
            flex-direction: column;
            
        }
        #answer-input {
            margin-bottom: 10px;
            width: calc(50px + 30vw);
        }
    </style>

</head>
<body>
    <div id="kahoot-prompt-container">
        <h1 id="prompt"></h1>
        <div class="flex-container">
            <textarea id="answer-input" name="answer-input" style="resize: none;"></textarea>
            <button onclick="scoped.answerQuestion(document.getElementById('answer-input').value)">Submit Answer</button>
        </div>
        
    </div>
    <div id="kahoot-answers-container">
        
    </div>
</body>
<script>
    let answers = {}
    var kws = new WebSocket("wss://kahootpod.com:443/kws");

    var currentPrompt = "Welcome to KahootPod: The Game!"
    

    console.log(kws);

    kws.onmessage = (e) => {
        try{
            let msgJSON = JSON.parse(e.data);
            switch(msgJSON.type){
                case "prompt":
                    scoped.currentPrompt = msgJSON.content;
                    document.getElementById("prompt").innerText = scoped.currentPrompt;
            }
        } catch (e) {
            scoped.kws.close();
        } 
    }

    function answerQuestion(ans){
        scoped.answers[currentPrompt] = ans;
        scoped.kws.send(JSON.stringify({type: "answer", content: ans, prompt: scoped.currentPrompt, user: "user"}));
    }
</script>
</html>