<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahootpod.com | Free Classrooms</title>
</head>
<body>

</body>
<script>

    var scoped = {};

    var userName = "";

    var ws = new WebSocket("wss://kahootpod.com:443/ws");
    ws.onmessage = (e) => {
        try{
            var msgJSON = JSON.parse(e.data);
            switch(msgJSON.type){
                case "html":
                    document.body.innerHTML = msgJSON.content;
                    var scripts = document.body.getElementsByTagName("script");
                    for(let i of scripts){
                        eval(i.innerHTML);
                    }
                    try{scoped["answerQuestion"] = answerQuestion;}catch(e){};
                    try{scoped["kws"] = kws;}catch(e){};
                    try{scoped.currentPrompt = currentPrompt}catch(e){};
                    try{scoped.answers = answers}catch(e){};
                    try{scoped.numLiked = numLiked}catch(e){};
                    try{scoped.submitName = submitName}catch(e){};
                    try{scoped.score = score}catch(e){};
                    try{scoped.questions = questions}catch(e){};
                    try{scoped.nextQuestion = nextQuestion}catch(e){};
                    try{scoped.curQ = curQ}catch(e){};
                    try{scoped.sendScore = sendScore}catch(e){};
                    try{scoped.loadQuestion = loadQuestion}catch(e){};
                    try{scoped.makeButton = makeButton}catch(e){};
                    try{scoped.answers = answers}catch(e){};
                    try{scoped.saveAnswers = saveAnswers}catch(e){};
                    try{scoped.download = download}catch(e){};
                    try{scoped.getCookie = getCookie}catch(e){};
                    break;
                case "userName":
                    userName = msgJSON.content;
                    if(document.cookie == ""){
                        document.cookie = "username=" + userName;
                    }
                    break;
                case "ping":
                    ws.send(JSON.stringify({type:"fdsukb"}));
                    break;
            }
        } catch(e){

        }
    }
    ws.onopen = (e) => {
        ws.send(JSON.stringify({type: "updateReq", content: ""}));
    }
    ws.onclose = (e) => {
        window.location = window.location.href;
    }

    function getName(){
        ws.send(JSON.stringify({type: "getName"}));
    }
</script>
</html>