<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scores</title>
</head>
<body>
    
</body>
<script>
    var ws = new WebSocket("wss://kahootpod.com:443/ws");
    ws.onmessage = (e) => {
        try{
            var msgJSON = JSON.parse(e.data);
            switch(msgJSON.type){
                case "scores":
                document.body.innerHTML = msgJSON.scores;
            }
        }
        catch(e){
            ws.close();
        }
    }

    function getScores(){
        ws.send(JSON.stringify({type: "getScores"}));
    }

    setInterval(getScores, 1000);
</script>
</html>